<% content_for :body_class, "error-state" %>
<div class="exception full">
  <div>
    <h1><span class="eyes">ಠ̯ಠ</span></h1>
    <h2>Dang! Something serious is going down.</h2>
    <h3>Our website is broken, sit tight. we'll fix it.</h3>
  </div>
</div>