<% content_for :body_class, "error-state" %>
<div class="exception full">
  <div>
    <h1><span class="eyes">ಠ̯ಠ</span></h1>
    <h2>Whoops! We couldnt find the page you were looking for.</h2>
    <h3>This could be because the review you tried to access has expired.</h3>
  </div>
</div>