body {
  background-color: $wet-asphalt;
}

.main {
  background-color: white;
  @include clearfix;
  padding-bottom: $grid-padding * 2;
}

.grid {
  @include container($total-columns, $bp2, $bp3);
}

header.brand {
  h1 {
    @include span-columns(1);
  }
  .info {
    @include span-columns(3 omega);
    text-align: right;
    margin: $grid-padding 0;
    margin-top: $grid-padding * 2.6;
    font-size: 0.8em;
  }
}

footer {
  padding: $grid-padding;
  padding-left: 0;
  margin: $grid-padding 0;
  color: white;
}

.content {
  clear: both;
}

.full {
  @include span-columns(4);
  @include at-breakpoint($bp2) {
    @include span-columns(8,8);
  }
  @include at-breakpoint($bp3) {
    @include span-columns(12, 12);
  }
}

.third {
  @include span-columns(4);
  @include at-breakpoint($bp2) {
    @include span-columns(4, $bp2);
    &.two {
      @include span-columns(4 omega, $bp2);
    }
    &.three {
      @include span-columns(8, $bp2);
    }
  }
  @include at-breakpoint($bp3) {
    @include span-columns(4, 12);
    &.two {
      @include span-columns(4, 12);
    }
    &.three {
      @include span-columns(4 omega, 12);
    }
  }
}