//
// Variables
// ----------------------------------------------

// Grid
// ---------------------
$total-columns  : 4;              // a 7-column grid
$bp2: 8;                          // Break at 8 columns
$bp3: 12 ie8;                     // And again at 12 columns
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$container-style: fluid;
$container-width: 90%;

// Colours
// ---------------------
$base-font-color: rgb(52, 73, 94);
$light-grey: #ECF0F1;
$medium-grey: #BDC3C7;
$pomegranate: #C0392B;
$alizarin: #E74C3C;
$emerald: #2ECC71;
$nephritis: #27AE60;
$wet-asphalt: #34495E;

// Margins & padding
// ---------------------
$default-margin: $gutter-width;

// Fonts
// ---------------------
$body-font: Tahoma, Helvetica, Arial, sans-serif;
$fixed-width-font: Consolas, 'Courier New', 'Courier';
